<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
		   <class name="API.ILOS_Login" />
			<class name="API.CPU_List" />
			<class name="API.CPU_Lead_Detail" />
			<class name="API.Update_loan_Details" />

		</classes>
	</test>
</suite>


<!--		https://codeshare.io/obMbBL  cpu lead-->

<!--		https://codeshare.io/AprpPN tenical lead-->